<!DOCTYPE html>
<html lang="zxx">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>Prolaw- Bootstrap Theme</title>
      <!-- google font -->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"> 
      <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700" rel="stylesheet"> 
      <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">  
      <!-- Standard -->
      <link rel="shortcut icon" href="img/ficon.png.html">
      <!-- Bootstrap Core CSS -->
      <link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css">
      <!-- Dropdownhover CSS -->
      <link rel="stylesheet" href="assets/css/bootstrap-dropdownhover.min.css" type="text/css">
      <!-- fonts awesome -->
      <link rel="stylesheet" href="assets/font/css/font-awesome.min.css" type="text/css">
      <!-- Plugin CSS -->
      <link rel="stylesheet" href="assets/css/animate.min.css" type="text/css">
      <!-- Custom CSS -->
      <link rel="stylesheet" href="assets/css/style.css" type="text/css">
      <!-- Owl Carousel Assets -->
      <link href="assets/owl-carousel/owl.carousel.css" rel="stylesheet">
      <link href="assets/owl-carousel/owl.theme.css" rel="stylesheet">
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body>
      <!-- Preloader -->
      <div id="preloader">
         <div id="loading">
         </div>
      </div>      
      <header class="hide-bg">
      <!-- header -->
         <div id="mainNav" class="container navbar-fixed-top">
         	<!-- top-header -->
            <div class="top-header">
               <div class="col-xs-12 col-sm-4 col-md-4">
                  <div class="logo">
                     <img src="assets/img/logo.png" alt="logo"/>
                  </div>
               </div>
               <div class="col-xs-12 col-sm-8 col-md-8">
                  <div class="col-xs-12 col-sm-4 col-md-4">
                     <div class="phone">
                        <div class="col-xs-12 col-sm-2 col-md-2">
                           <i class="fa fa-mobile" aria-hidden="true"></i>
                        </div>
                        <div class="col-xs-12 col-sm-10 col-md-10">
                           +1 900 234 567<br/>support@advisor.com
                        </div>
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-4 col-md-4">
                     <div class="address">
                        <div class="col-xs-12 col-sm-2 col-md-2">
                           <i class="fa fa-map-marker" aria-hidden="true"></i> 
                        </div>
                        <div class="col-xs-12 col-sm-10 col-md-10">
                           199 Park Ave, San<br> Jose, CA 95110, US
                        </div>
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-4 col-md-4">
                     <div class="time">
                        <div class="col-xs-12 col-sm-2 col-md-2">
                           <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </div>
                        <div class="col-xs-12 col-sm-10 col-md-10">					 
                           Mon - Sat 9.00 - 18.00<br/>Sunday Closed
                        </div>
                     </div>
                  </div>
               </div>
               <!-- /top-header -->
            </div>
            <!--  nav  -->
            <nav class="navbar navbar-inverse navbar-default">
               <!-- Brand and toggle get grouped for better mobile display -->
               <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>
               </div>
               <!-- logo2 -->
                <div class="logo2">
                        <img src="assets/img/logo.png" alt="logo"/>
                     </div>
                <!-- /logo2 -->
               <!-- Collect the nav links, forms, and other content for toggling -->
               <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" data-hover="dropdown" data-animations="fadeIn fadeInLeft fadeInUp fadeInRight">
                  <ul class="nav navbar-nav">
                     <li class="dropdown">
                        <a href="index.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span>Home</span></a>
                        <ul class="dropdown-menu dropdownhover-bottom" role="menu">
                           <li><a href="index.html">Home1</a></li>
                           <li><a href="index2.html">Home2</a></li>
                           <li><a href="index3.html">Home3</a></li>
                           <li><a href="index4.html">Home4</a></li>
                        </ul>
                     </li>
                     <li>
                        <a href="about.html">About Us</a>                  
                     </li>
                     <li>
                        <a href="practice-area.html">PRACTICE AREA</a>                    
                     </li>
                     <li>
                        <a href="features.html">features</a>
                     </li>
                     <li>
                        <a href="attorney.html">Attorney</a>        
                     </li>
                     <li class="dropdown">
                        <a href="news.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span>NEWS</span></a>
                        <ul class="dropdown-menu dropdownhover-bottom" role="menu">
                           <li><a href="news.html">NEWS</a></li>
                           <li><a href="single-news-page.html">Single News Page</a></li>
                        </ul>
                     </li>
                     <li>
                        <a href="contact.html">Contact</a>
                     </li>
                  </ul>
                  <!-- /.navbar-collapse -->
               </div>
            </nav>
            <!--  /nav  -->
         </div>
          <!-- /header -->
      </header>    
      <section class="home-slider">
      <!-- .home-slider -->
         <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
               <div class="item active" style="background-image: url('assets/img/header3.jpg'); background-size: cover; background-position: bottom;">
                  <div class="caption">
                     <h2 class="animated fadeInDown">Let Our <strong>Experience be</strong> Your <br> Guide</h2>
                     <p class="animated fadeInUp">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy<br/>
                        nibh euismod tincidunt ut laoreet dolore magna aliqua
                     </p>
                     <a data-scroll class="cd-btn animated fadeInUp" href="index.html#video">read more</a>
                     <a href="index.html#0" class="cd-btn secondary animated fadeInUp">contact us</a>
                  </div>
               </div>
               <div class="item" style="background-image: url('assets/img/header3.jpg'); background-size: cover; background-position: bottom;">
                  <div class="caption">
                     <h2 class="animated fadeInDown">Let Our <strong>Experience be</strong> Your <br> Guide</h2>
                     <p class="animated fadeInUp">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy<br/>
                        nibh euismod tincidunt ut laoreet dolore magna aliqua
                     </p>
                     <a data-scroll class="cd-btn animated fadeInUp" href="index.html#video">read more</a>
                     <a href="index.html#0" class="cd-btn secondary animated fadeInUp">contact us</a>
                  </div>
               </div>
               <div class="item" style="background-image: url('assets/img/header3.jpg'); background-size: cover; background-position: bottom;">
                  <div class="caption">
                     <h2 class="animated fadeInDown">Let Our <strong>Experience be</strong> Your <br> Guide</h2>
                     <p class="animated fadeInUp">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy<br/>
                        nibh euismod tincidunt ut laoreet dolore magna aliqua
                     </p>
                     <a data-scroll class="cd-btn animated fadeInUp" href="index.html#video">read more</a>
                     <a href="index.html#0" class="cd-btn secondary animated fadeInUp">contact us</a>
                  </div>
               </div>
            </div>
            <ol class="carousel-indicators">
               <li data-target="#home-slider" data-slide-to="0" class="active"></li>
               <li data-target="#home-slider" data-slide-to="1"></li>
               <li data-target="#home-slider" data-slide-to="2"></li>
            </ol>
         </div>
          <!-- /.home-slider -->  
      </section>
      <section class="about">
         <!-- .about -->
         <div class="container">
            <div class="title">
               <h2>
                  WELCOME TO prolaw<br/>
                  <img src="assets/img/tiltle-brk.png" alt="tiltle-brk"/>						
               </h2>
               <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy <br/>nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            </div>
            <div class="row">
               <div class="about-box">
                  <div class="col-md-6 wow fadeInLeft animated">
                     <img src="assets/img/welcome-img.jpg" alt="welcome img"/>
                  </div>
                  <div class="col-md-6 wow fadeInRight animated">
                     <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, 
                     </p>
                     <p>quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hen.t wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hen.
                     </p>
                     <p>Velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent 
                        luptatum zzril delenit augu. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposu litterarum formas humanitatis per seacula quarta decima et.
                     </p>
                     <a href="index.html#" class="read-more">Read More</a>
                  </div>
               </div>
               <div class="col-md-4 text-center">
                  <div class="civil">
                     <img src="assets/img/civil-icon.png" alt="civil-icon" class="civil-icon"/>
                     <img src="assets/img/civil-iconw.png" alt="civil-icon" class="civil-icon-hover"/>
                     <h2>Civil Law</h2>
                     <p>Consetetur sadipscing elitr, sed diamConsetetur sadipscing elitr, sed diam nonumy eirmod.<br/> <a href="index.html#">Read More</a></p>
                  </div>
               </div>
               <div class="col-md-4 text-center">
                  <div class="civil cactive">
                     <img src="assets/img/civil-icon2bk.png" alt="civil-icon" class="civil-icon"/>
                     <img src="assets/img/civil-icon2.png" alt="civil-icon" class="civil-icon-hover"/>
                     <h2>Criminal Law</h2>
                     <p>Consetetur sadipscing elitr, sed diamConsetetur sadipscing elitr, sed diam nonumy eirmod.<br/> <a href="index.html#">Read More</a></p>
                  </div>
               </div>
               <div class="col-md-4 text-center">
                  <div class="civil">
                     <img src="assets/img/civil-icon3.png" alt="civil-icon" class="civil-icon"/>
                     <img src="assets/img/civil-icon3wt.png" alt="civil-icon" class="civil-icon-hover"/>
                     <h2>Business Law</h2>
                     <p>Consetetur sadipscing elitr, sed diamConsetetur sadipscing elitr, sed diam nonumy eirmod.<br/> <a href="index.html#">Read More</a></p>
                  </div>
               </div>
            </div>
         </div>
         <!-- /.about -->
      </section>
      <section class="practise section-padding">
         <!-- START practise SECTION -->
         <div class="container">
            <div class="row">
               <div class="title">
                  <h2>
                     Practise Area<br/>
                     <img src="assets/img/tiltle-brkw.png" alt="tiltle-brkw"/>						
                  </h2>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy <br/>nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
               </div>
               <div class="owl-demo-outer">
                  <!-- #owl-demo -->
                  <div class="owl-carousel owl-theme">
                     <div class="item">
                        <div class="col-sm-12 col-md-12">
                           <div class="Practise-box">
                              <img src="assets/img/civil-iconw.png" alt="civilw-icon">
                              <h2>Identifications</h2>
                              <p>Consetetur sadipscing elitr, sed diamConsetetur sadipscing elitr, sed diam nonumy eirmod.</p>
                           </div>
                        </div>
                     </div>
                     <div class="item">
                        <div class="col-sm-12 col-md-12">
                           <div class="Practise-box">
                           	   <img src="assets/img/civil-iconw.png" alt="civilw-icon">
                              <h2>Criminal Defense</h2>
                              <p>Consetetur sadipscing elitr, sed diamConsetetur sadipscing elitr, sed diam nonumy eirmod.</p>
                           </div>
                        </div>
                     </div>
                     <div class="item">
                        <div class="col-sm-12 col-md-12">
                           <div class="Practise-box">
                              <img src="assets/img/civil-iconw.png" alt="civilw-icon">
                              <h2>Justice Policy</h2>
                              <p>Consetetur sadipscing elitr, sed diamConsetetur sadipscing elitr, sed diam nonumy eirmod.</p>
                           </div>
                        </div>
                     </div>
                     <div class="item">
                        <div class="col-sm-12 col-md-12">
                           <div class="Practise-box">
                              <img src="assets/img/civil-iconw.png" alt="civilw-icon">
                              <h2>Court House</h2>
                              <p>Consetetur sadipscing elitr, sed diamConsetetur sadipscing elitr, sed diam nonumy eirmod.</p>
                           </div>
                        </div>
                     </div>
                     <div class="item">
                        <div class="col-sm-12 col-md-12">
                           <div class="Practise-box">
                              <img src="assets/img/civil-iconw.png" alt="civilw-icon">
                              <h2>Justice Policy</h2>
                              <p>Consetetur sadipscing elitr, sed diamConsetetur sadipscing elitr, sed diam nonumy eirmod.</p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="customNavigation">
                     <a class="btn prev"><i class="fa fa-caret-left" aria-hidden="true"></i></a>
                     <a class="btn next"><i class="fa fa-caret-right" aria-hidden="true"></i></a>
                  </div>
               </div>
            </div>
         </div>
          <!-- / START practise SECTION -->
      </section>
      <section class="section-padding team-outer">
       <!-- .team-outer -->  
         <div class="container">
            <div class="row">
               <div class="col-md-4 text-center">
                  <div class="team">
                     <img src="assets/img/team.jpg" alt="team"/>
                     <h2>John Brown</h2>
                     <span>Senior Partner - Founder</span>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur auctor mauris metus, sit amet porttitor</p>
                     <div class="social">
                        <ul>
                           <li><a href="index.html#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                           <li><a href="index.html#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                           <li><a href="index.html#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-md-4 text-center">
                  <div class="team">
                     <img src="assets/img/team2.jpg" alt="team2"/>
                     <h2>John Brown</h2>
                     <span>Senior Partner - Founder</span>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur auctor mauris metus, sit amet porttitor</p>
                     <div class="social">
                        <ul>
                           <li><a href="index.html#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                           <li><a href="index.html#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                           <li><a href="index.html#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-md-4 text-center">
                  <div class="team">
                     <img src="assets/img/team3.jpg" alt="team3"/>
                     <h2>John Brown</h2>
                     <span>Senior Partner - Founder</span>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur auctor mauris metus, sit amet porttitor</p>
                     <div class="social">
                        <ul>
                           <li><a href="index.html#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                           <li><a href="index.html#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                           <li><a href="index.html#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>         
         <!-- /.team-outer -->  
      </section>
      <section id="blog">
         <!-- START BLOG SECTION -->
         <div class="container">
            <div class="row">
               <div class="title">
                  <h2>
                     Practise Area<br/>
                     <img src="assets/img/tiltle-brk.png" alt="tiltle-brk"/>						
                  </h2>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy <br/>nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
               </div>
               <div class="col-md-4 text-center">
                  <div class="blog-content">
                     <img src="assets/img/newsimg1.jpg" alt="newsimg1"/>
                     <div class="date-month">
                        <span class="date">16</span>
                        <span class="month">Aug</span>
                     </div>
                     <h2>Blog Heading Here</h2>
                     <div class="blog-content-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur auctor mauris metus, sit amet porttitor</p>
                        <div class="social">
                           <ul>
                              <li><a href="index.html#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                              <li><a href="index.html#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                              <li><a href="index.html#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-4 text-center">
                  <div class="blog-content">
                     <img src="assets/img/newsimg2.jpg" alt="newsimg2"/>
                     <div class="date-month">
                        <span class="date">16</span>
                        <span class="month">Aug</span>
                     </div>
                     <h2>Blog Heading Here</h2>
                     <div class="blog-content-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur auctor mauris metus, sit amet porttitor</p>
                        <div class="social">
                           <ul>
                              <li><a href="index.html#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                              <li><a href="index.html#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                              <li><a href="index.html#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-4 text-center">
                  <div class="blog-content">
                     <img src="assets/img/newsimg3.jpg" alt="newsimg3"/>
                     <div class="date-month">
                        <span class="date">16</span>
                        <span class="month">Aug</span>
                     </div>
                     <h2>Blog Heading Here</h2>
                     <div class="blog-content-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur auctor mauris metus, sit amet porttitor</p>
                        <div class="social">
                           <ul>
                              <li><a href="index.html#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                              <li><a href="index.html#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                              <li><a href="index.html#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
           <!-- / START BLOG SECTION -->
      </section>
      <section class="contactme">
         <!-- START NEWSLATER SECTION -->
         <div class="container">
            <div class="row">
               <div class="col-sm-12 col-md-12 text-center">
                  <h2>We are here to help you with law questions</h2>
                  <p>Attorney / Civil Rights & Attorney / Family Law</p>
                  <a href="index.html#">Contact Me</a>
               </div>
            </div>
         </div>
         <!-- /START NEWSLATER SECTION -->
      </section>
      <section class="client section-padding">
         <!-- .client -->
         <div class="container">
            <div class="row">
               <div class="title">
                  <h2>
                     our clients<br/>
                     <img src="assets/img/tiltle-brk.png" alt="tiltle-brk"/>						
                  </h2>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy <br/>nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
               </div>
               <div class="col-sm-12 col-md-12">
                  <div class="owl-demo-outer">
                     <!-- #owl-demo -->
                     <div class="owl-carousel owl-theme">
                        <div class="item">
                           <div class="col-sm-12 col-md-12 text-center">
                              <a href="index.html#"><img src="assets/img/client-logo.png" alt="client-logo"/></a>
                           </div>
                        </div>
                        <div class="item">
                           <div class="col-sm-12 col-md-12 text-center">
                              <a href="index.html#"><img src="assets/img/client-logo2.jpg" alt="client-logo2"/></a>
                           </div>
                        </div>
                        <div class="item">
                           <div class="col-sm-12 col-md-12 text-center">
                              <a href="index.html#"><img src="assets/img/client-logo3.png" alt="client-logo3"/></a>
                           </div>
                        </div>
                        <div class="item">
                           <div class="col-sm-12 col-md-12 text-center">
                              <a href="index.html#"><img src="assets/img/client-logo4.png" alt="client-logo4"/></a>
                           </div>
                        </div>
                        <div class="item">
                           <div class="col-sm-12 col-md-12 text-center">
                              <a href="index.html#"><img src="assets/img/client-logo.png" alt="client-logo"/></a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- /.client -->
      </section>
      <footer>
      <!-- START FOOTER SECTION -->
         <div class="container">
         	<!-- firt-footer -->
            <div class="row firt-footer">
               <div class="col-sm-8 col-md-10">
                  <h2>consectetur adipisicing <strong>sed do eiusmod tempor</strong> incididunt.</h2>
               </div>
               <div class="col-sm-4 col-md-2">
                  <a href="index.html#" class="free-btn">free consulation</a>
               </div>
            </div>
            <!-- /firt-footer -->
         </div>
         <div class="fbdr">
            <div class="container">
               <div class="row">
                  <div class="col-sm-3 col-md-3 address">
                 	 <!-- .weight -->
                     <div class="weight">
                        <strong>About Us</strong>
                        <p>Lorem ipsum dolor sit amet, onsectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                        <div class="social">
                           <ul>
                              <li><a href="index.html#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                              <li><a href="index.html#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                              <li><a href="index.html#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                              <li><a href="index.html#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                           </ul>
                        </div>
                     </div>
                      <!--/.weight -->
                  </div>
                  <div class="col-sm-3 col-md-3">
                  	 <!-- .weight -->
                     <div class="weight">
                        <strong>Our Services</strong>
                        <ul>
                           <li><a href="index.html#">Criminal Law</a></li>
                           <li><a href="index.html#">Accident Law</a></li>
                           <li><a href="index.html#">Family Law</a></li>
                           <li><a href="index.html#">Investment Law</a></li>
                           <li><a href="index.html#">Commercial Law</a></li>
                        </ul>
                     </div>
                     <!-- /.weight -->
                  </div>
                  <div class="col-sm-3 col-md-3">
                  	<!-- .weight -->
                     <div class="weight">
                        <strong>Quick Links</strong>
                        <ul>
                           <li><a href="index.html#">Home</a></li>
                           <li><a href="index.html#">Our Services</a></li>
                           <li><a href="index.html#">About Us</a></li>
                           <li><a href="index.html#">News</a></li>
                           <li><a href="index.html#">Contact Us</a></li>
                        </ul>
                     </div>
                     <!-- /.weight -->
                  </div>
                  <div class="col-sm-3 col-md-3 address">
                  <!-- .weight -->
                     <div class="weight">
                        <strong>Contact Us</strong>
                        <p>PUSAT PENERANGAN HUKUM  KEJAKSAAN AGUNG R.I</p>
                        <p>Tel: 1234 - 5678 - 9012<br/>Email: support@Prolaw.com<br/>Working Hours: 8:00 a.m - 17:00 a.m</p>
                     </div>
                    <!-- /.weight -->
                  </div>
               </div>
            </div>
         </div>
         <div class="container text-center">
            <div class="row">
            <!-- .copyright -->
               <div class="copyright">
                  © Copyright "Prolaw" 2016. All Rights Reserved.
               </div>
            <!-- /.copyright -->
            </div>
         </div>
        <!-- / START FOOTER SECTION -->
      </footer>
      <!-- jQuery -->
      <script src="assets/js/jquery-v3.1.1.js"></script>
      <!-- Bootstrap Core JavaScript -->
      <script src="assets/js/bootstrap.min.js"></script>
      <script src="assets/js/bootstrap-dropdownhover.min.js"></script>
      <!-- Plugin JavaScript -->
      <script src="assets/js/jquery.easing.min.js"></script>
      <script src="assets/js/jquery.fittext.js"></script>
      <script src="assets/js/wow.min.js"></script> 
      <!--  countTo JavaScript  -->
      <script type="text/javascript" src="assets/js/jquery.countTo.js"></script>      
      <!--  Custom Theme JavaScript  -->
      <script src="assets/js/custom.js"></script> 
      <!-- owl carousel -->
      <script src="assets/owl-carousel/owl.carousel.js"></script>  
   </body>
</html>

